.navbar-items {
    padding-right: 30px;
}

.navbar-items > li {
    padding: 0px 15px;
    font-size: 19px;
    text-align: center;
}

main {
    background-image: url("../img/login-background-25.png");
    background-size: cover;
    min-height: calc(100vh - 91px - 100px);
}

.users-panel {
    background-color: rgba(255, 255, 255, 0.884);
    padding-top: 30px;
    min-width: 200px;
    min-height: 400px;
}

.footer-panel {
    background-image: url("../img/footer-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 30px;
    font-size: 16px;
    font-family: 'McLaren', cursive;
}